<!DOCTYPE html>
<html>

   <head>
      <title>TimeStamp Microservice | Free Code Camp</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
     <h3>
       Pass a date in any one of the following forms<br> 
     </h3>
     <ul>
       <li>Natural Language: January 1, 2017</li>
       <li>UNIX Timestamp: 1483228800000</li>
     </ul>
     <h4>
       Example Usage:<br>
     </h4>
     <ul>
       <li>https://bog-cardboard.glitch.me/January%201,%202017</li>
       <li>https://bog-cardboard.glitch.me/1483228800000</li>
     </ul>
   </body>

</html>
